<div class="page-sidebar-wrapper" ng-controller="SidebarController">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul id="page-sidebar-menu" class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <!--<li class="active">-->
                <!--<a>-->
                    <!--<i class="fa fa-home" aria-hidden="true"></i>-->
                    <!--<span class="title">Dashboard</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>-->
                    <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                    <!--<span class="title">Plan</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>-->
                    <!--<i class="fa fa-area-chart" aria-hidden="true"></i>-->
                    <!--<span class="title">Report</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>-->
                    <!--<i class="fa fa-folder-open" aria-hidden="true"></i>-->
                    <!--<span class="title">Folder</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>-->
                    <!--<i class="fa fa-cog" aria-hidden="true"></i>-->
                    <!--<span class="title">Setting</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>-->
                    <!--<i class="fa fa-tasks" aria-hidden="true"></i>-->
                    <!--<span class="title">Check in</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-user-circle-o" aria-hidden="true"></i>-->
                    <!--<span class="title">Account</span>-->
                    <!--<span class="arrow "></span>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a href="account.html">-->
                            <!--<i class="fa fa-user" aria-hidden="true"></i>-->
                            <!--<span class="title">User</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="account-team.html">-->
                            <!--<i class="fa fa-users" aria-hidden="true"></i>-->
                            <!--<span class="title">Team</span>-->
                        <!--</a>-->
                    <!--</li>-->

                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="fa fa-briefcase" aria-hidden="true"></i>-->
                    <!--<span class="title">Project</span>-->
                    <!--<span class="arrow "></span>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a href="project.html">-->
                            <!--<i class="fa fa-briefcase" aria-hidden="true"></i>-->
                            <!--<span class="title">Project</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="task.html">-->
                            <!--<i class="fa fa-file" aria-hidden="true"></i>-->
                            <!--<span class="title">Task</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li ng-repeat="menu in menus" class="{{!menu.subMenus && menu.state == currentState ? 'active' : ''}}" ng-switch on="menu.state">
                <a href="javascript:;" ui-sref="{{menu.state}}" ng-if="menu.state">
                    <i class="{{menu.icon}}" aria-hidden="true" ng-if="menu.icon"></i>
                    <span class="title">{{menu.title}}</span>
                </a>
                <a href="javascript:;" ng-if="!menu.state">
                    <i class="{{menu.icon}}" aria-hidden="true" ng-if="menu.icon"></i>
                    <span class="title">{{menu.title}}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" ng-if="menu.subMenus">
                    <li ng-repeat="subMenu in menu.subMenus">
                        <a href="javascript:;" ui-sref="{{subMenu.state}}">
                            <i class="{{subMenu.icon}}" aria-hidden="true" ng-if="subMenu.icon"></i>
                            <span class="title">{{subMenu.title}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
