
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobTeamLabel">Create or edit a Job Team</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.jobTeam.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.jobTeam.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalFiles">Total Files</label>
            <input type="number" class="form-control" name="totalFiles" id="field_totalFiles"
                    ng-model="vm.jobTeam.totalFiles"
                    required/>
            <div ng-show="editForm.totalFiles.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalFiles.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalFiles.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_job">Job</label>
            <select class="form-control" id="field_job" name="job" ng-model="vm.jobTeam.jobId" ng-options="job.id as job.name for job in vm.jobs"             required>
            </select>
        </div>
        <div ng-show="editForm.job.$invalid">
            <p class="help-block"
                ng-show="editForm.job.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" ng-model="vm.jobTeam.teamId" ng-options="team.id as team.name for team in vm.teams"             required>
            </select>
        </div>
        <div ng-show="editForm.team.$invalid">
            <p class="help-block"
                ng-show="editForm.team.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.jobTeam.projectId" ng-options="project.id as project.name for project in vm.projects"             required>
            </select>
        </div>
        <div ng-show="editForm.project.$invalid">
            <p class="help-block"
                ng-show="editForm.project.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
