<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation id="addTaskModal">
    <div class="modal-header">
        <h4 class="modal-title">Add/Edit Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>TASK CODE</label>
                    <input type="text" name="code" class="form-control" placeholder="Task Code" ng-model="vm.task.code">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>PROJECT CODE</label>
                    <div class="clearfix"></div>
                    <ui-select ng-model="vm.selectedProject" theme="select2" search-enabled="false" style="width: 134px;" class="selectpicker form-control" title="Choose a Project">
                        <ui-select-match placeholder="Select Project">{{$select.selected.code}}</ui-select-match>
                        <ui-select-choices repeat="project in vm.projects">
                            <div ng-bind-html="project.code | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>TASK NAME</label>
                    <input type="text" name="taskname" class="form-control" placeholder="Task name" ng-model="vm.task.name">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>TASK CREDIT</label>
                    <input type="text" name="taskCredit" class="form-control" placeholder="" ng-model="vm.task.taskCredit">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-5">
                <div class="form-group text-left margin-bottom-5 margin-top-5">
                    <label class="text-left" style="">STATUS</label>
                    <div class="status-switch " style="display:inline-block; margin-left:20px;">
                        <input name="status" type="checkbox" bs-switch ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'"
                               ng-model="vm.task.status" class="make-switch" data-size="small">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-7">
                <button type="button" class="btn default btn-cancel" ng-click="vm.clear()">Cancel</button>
                <button type="submit" class="btn btn-save" ng-disabled="editForm.$invalid || vm.isSaving" >Save</button>
            </div>
        </div>
    </div>
</form>
