<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Task Management</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">

            <form class="search" ng-submit="vm.search()">
                <div class="input-group" style="float:left">
                    <input type="text" class="form-control" ng-model="vm.searchText" placeholder="Search task name">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>

            </form>
            <a class="btn btn-primary pull-right btn-add-project" ng-click="vm.createOrUpdate()" data-toggle="modal" >Add Task<i class="fa fa-plus" aria-hidden="true"></i></a>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
        <li>
            <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Project
        </li>
    </ul>

    <div class="margin-top-20">
        <div class="wrap-table-radius account">
            <table class="table table-hover" dt-instance="vm.dtInstance" datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns">

            </table>
        </div>
    </div>

    <!-- END PAGE BREADCRUMB -->
</div>

<script>
    jQuery(document).ready(function() {

        //$('#addAccountModal').modal('show');
        $('.editAccount').click(function(){
            $("#addTaskModal").modal('show');
        });

        $("body").on("click", "#eye", function(event){
            var pwd = document.getElementById("pw");
            if(pwd.getAttribute("type")=="password"){
                pwd.setAttribute("type","text");
                $("span#eye i").removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                pwd.setAttribute("type","password");
                $("span#eye i").removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });

        $('.btn-submit-addteam').click(function(){
            $(this).addClass('success');
        })


    });
</script>
