<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Plan Management</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <div class="search">
                <div class="input-group" style="float:left">
                    <div class="input-group-btn">
                        <ui-select ng-model="vm.selectedFilter" theme="select2" style="width: 120px"
                                   search-enabled="false" class="selectpicker form-control">
                            <ui-select-match placeholder="Filter">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="f in vm.filters">
                                <div ng-bind-html="f | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search"
                                                                               aria-hidden="true"></i></button>
                            </span>

                </div>
            </div>

            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
        <div class="clearfix"></div>
        <div class="page-breadcrumb breadcrumb profile plan-head">
            <ul class="nav nav-tabs pull-left">
                <li class="active">
                    <a href="#tab_1_11" data-toggle="tab">
                        Status</a>
                </li>
                <li class="">
                    <a href="#tab_1_22" data-toggle="tab">
                        Timeline</a>
                </li>
            </ul>
            <div class="form-group margin-bottom-0 view_base pull-right">
                <label class="margin-top-15">View base on: </label>
                <div class="btn-group">
                    <button type="button" ng-click="vm.changeViewBaseOn('PROJECT')" ng-class="{'active': vm.projectView}" class="btn btn-default btn-xs btn-project">Project</button>
                    <button type="button" ng-click="vm.changeViewBaseOn('USER')" ng-class="{'active': vm.userView}" class="btn btn-default btn-xs btn-user">User</button>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
        <li>
            <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Project
        </li>
    </ul>
    <div class="margin-top-20">
        <div class="wrap-table-radius plan">
            <div class="tab-content">
                <div class="tab-pane active table-responsive" id="tab_1_11">
                    <!--<tree-grid tree-data="vm.treeData" col-defs="vm.colDefs"></tree-grid>-->

                    <table class="tree table table-hover status-project">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th class="progress_col">Total</th>
                            <th class="col_todo">To do</th>
                            <th class="col_tocheck">To check</th>
                            <th class="col_done">Done</th>
                            <th class="col_delivery">Delivery</th>
                            <th class="action"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="row in vm.rows track by $index" class="{{row.cssClass}}">
                            <td>
                                <i class="fa fa-briefcase" aria-hidden="true" ng-if="row.type == 'project'"></i>
                                <i class="fa fa-file" aria-hidden="true" ng-if="row.type == 'job'"></i>
                                <i class="fa fa-users" aria-hidden="true" ng-if="row.type == 'team'"></i>
                                <i class="fa fa-user" aria-hidden="true" ng-if="row.type == 'user'"></i>
                                {{row.name}}
                            </td>
                            <td class="progress_col">
                                <p>{{row.total}}</p>
                                <div class="wrap-progress">
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success">
                                                <span class="sr-only">45% grow</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="col_todo">{{row.toDo}}</td>
                            <td class="col_tocheck">{{row.toCheck}}</td>
                            <td class="col_done">{{row.done}}</td>
                            <td class="col_delivery">{{row.delivery}}</td>
                            <td class="action">
                                <a ng-if="row.type == 'job'" class="btn-editJob" ui-sref="plans-status.edit({id: row.id})">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>

                                <a ng-if="row.type == 'project' && vm.currentView == 'PROJECT'" class="btn-editJob" ng-click="vm.syncUp(row.code)">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>

                                <a ng-if="row.type == 'user' && vm.currentView == 'PROJECT'" class="btn-editJob" ng-click="vm.adjustFiles(row.code)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane table-responsive" id="tab_1_22">

                </div>
            </div>

        </div>
    </div>

    <!-- END PAGE BREADCRUMB -->

</div>
