<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Account Management</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <div class="search" >
                <div class="input-group" style="float:left">
                    <input type="text" class="form-control" placeholder="Search username/e-mail">
                    <span class="input-group-btn">
							<button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>

                </div>
            </div>
            <a class="btn btn-primary pull-right btn-add-project" ng-click="vm.createOrUpdate()" data-toggle="modal" >Add Account<i class="fa fa-plus" aria-hidden="true"></i></a>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
        <li>
            <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Project
        </li>
    </ul>

    <div class="margin-top-20">
        <div class="wrap-table-radius table-responsive account">
            <table class="table table-hover" id="account">
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        User name
                    </th>
                    <th>
                        Full name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Project manager
                    </td>
                    <td>

                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Team leader
                    </td>
                    <td>
                        Team A
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Team A
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="inactive"> <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a> Inactive </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Team A
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="inactive"> <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a>Inctive </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Team Leader
                    </td>
                    <td>
                        Team B
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Team Leader
                    </td>
                    <td>
                        Team C
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Team A
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Team B
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Project Manager
                    </td>
                    <td>

                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Team B
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="content/assets/layout/img/avatar9.jpg"/>
                    </td>
                    <td>
                        jeromehenderson
                    </td>
                    <td>
                        Jerome Henderson
                    </td>
                    <td>
                        jeromehenderson@yahoo.com
                    </td>
                    <td>
                        Auto
                    </td>
                    <td>
                        Lora Hale
                    </td>
                    <td>
                        12/01/2017
                    </td>
                    <td>
                        <p class="active">Active <a class="editAccount" href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- END PAGE BREADCRUMB -->
</div>

<script>
    jQuery(document).ready(function() {

        //$('#addAccountModal').modal('show');
        $('.editAccount').click(function(){
            $("#addAccountModal").modal('show');
        });

        $("body").on("click", "#eye", function(event){
            var pwd = document.getElementById("pw");
            if(pwd.getAttribute("type")=="password"){
                pwd.setAttribute("type","text");
                $("span#eye i").removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                pwd.setAttribute("type","password");
                $("span#eye i").removeClass('fa-eye-slash').addClass('fa-eye');
            }
        });

        $('.btn-submit-addteam').click(function(){
            $(this).addClass('success');
        })


    });
</script>

<!--<div>-->
    <!--<h2>Users</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="row">-->
      <!--<div class="col-md-4">-->
          <!--<button class="btn btn-primary" ui-sref="user-management.new">-->
              <!--<span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>-->
          <!--</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">-->
                <!--<th jh-sort-by="id"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th jh-sort-by="login"><span>Login</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th></th>-->
                                <!--<th><span>Profiles</span></th>                <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th jh-sort-by="lastModifiedBy"><span>Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th jh-sort-by="lastModifiedDate"><span>Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="user in vm.users track by user.id">-->
                <!--<td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>-->
                <!--<td>{{user.login}}</td>-->
                <!--<td>{{user.email}}</td>-->
                <!--<td>-->
                    <!--<button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated"-->
                           <!--&gt;Deactivated</button>-->
                    <!--<button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated"-->
                            <!--ng-disabled="vm.currentAccount.login === user.login">Activated</button>-->
                <!--</td>-->
                <!---->
                <!--<td>-->
                    <!--<div ng-repeat="authority in user.authorities">-->
                        <!--<span class="label label-info">{{ authority }}</span>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>-->
                <!--<td>{{user.lastModifiedBy}}</td>-->
                <!--<td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="user-management-detail({login:user.login})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-xs hidden-sm"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="user-management.edit({login:user.login})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-xs hidden-sm"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="user-management.delete({login:user.login})"-->
                                <!--class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login === user.login">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-xs hidden-sm"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="text-center">-->
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
        <!--<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>-->
    <!--</div>-->
<!--</div>-->
