<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>User Setting</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <form class="search" ng-submit="vm.search()">
                <div class="input-group" style="float:left">
                    <div class="input-group-btn">
                        <select id="option_search" class="selectpicker" data-live-search="false" ng-model="vm.searchType" title="Please select" data-width="90">
                            <option value="Name">Name</option>
                            <option value="Date">Date</option>
                        </select>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control" ng-model="vm.searchText" placeholder="Search user setting">
                    <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" ng-click="vm.search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>

                </div>

            </form>
            <a class="btn btn-primary pull-right btn-add-project" ng-click="vm.createOrUpdateSetting()"> New User Setting <i class="fa fa-plus`" aria-hidden="true"></i></a>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
        <li>
            <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Project
        </li>
    </ul>

    <div class="margin-top-20">
        <div class="wrap-table-radius table-responsive configuation">
            <table class="table table-hover" dt-instance="vm.dtInstance" datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns">

            </table>
        </div>
    </div>

    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->



    <!-- END PAGE CONTENT INNER -->


</div>
