<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <div class="menu-toggler sidebar-toggler pull-left">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img src="content/assets/layout/img/logo-nesso.png" alt="logo" class="logo-default" height="36"/>
            </a>

        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->

        <a href="javascript:;" class="menu-toggler responsive-toggler">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide">
                    </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark"
                        id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <span class="badge badge-success">
						7 </span>
                        </a>
                        <ul class="dropdown-menu notification-list">

                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;"
                                    data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">

										<span class="details">
										<span class="label label-sm label-icon label-success success">
										<i class="fa fa-check-circle" aria-hidden="true"></i>
										</span>
										New user registered. </span>
                                            <span class="time">just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="has_read">

										<span class="details">
										<span class="label label-sm label-icon label-danger danger">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										Server #12 overloaded. </span>
                                            <span class="time">3 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="has_read">

										<span class="details">
										<span class="label label-sm label-icon label-warning warning">
										<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
										</span>
										Server #2 not responding. </span>
                                            <span class="time">10 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">

										<span class="details">
										<span class="label label-sm label-icon label-info info">
										<i class="fa fa-info-circle" aria-hidden="true"></i>
										</span>
										Application error. </span>
                                            <span class="time">14 hrs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="has_read">

										<span class="details">
										<span class="label label-sm label-icon label-danger danger">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										Database overloaded 68%. </span>
                                            <span class="time">2 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">

										<span class="details">
										<span class="label label-sm label-icon label-danger danger">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										A user IP blocked. </span>
                                            <span class="time">3 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="has_read">

										<span class="details">
										<span class="label label-sm label-icon label-warning warning">
										<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
										</span>
										Storage Server #4 not responding dfdfdfd. </span>
                                            <span class="time">4 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">

										<span class="details">
										<span class="label label-sm label-icon label-info info">
										<i class="fa fa-info-circle" aria-hidden="true"></i>
										</span>
										System Error. </span>
                                            <span class="time">5 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">

										<span class="details">
										<span class="label label-sm label-icon label-danger danger">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										</span>
										Storage server failed. </span>
                                            <span class="time">9 days</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="external">
                                <a href="notification.html">Check all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <li class="separator hide">
                    </li>

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
						<span class="username username-hide-on-mobile">
						{{account.lastName}} </span>
                            <img alt="" class="img-circle" src="content/assets/layout/img/avatar9.jpg"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="javascript:void(0)" class="nickname">{{account.fullName}}<br>
                                    <small>{{account.email}}</small>
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a ui-sref="profile">
                                    My Profile </a>
                            </li>

                            <li>
                                <a ng-click="logout()">
                                    Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
