<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Team Management</h1>
        </div>
        <!-- END PAGE TITLE -`->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <div class="search" >
                <div class="input-group" style="float:left">
                    <input type="text" ng-model="vm.searchText" class="form-control" placeholder="Team name/code">
                    <span class="input-group-btn">
							<button ng-click="vm.search()" class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>

                </div>
            </div>
            <a class="btn btn-primary pull-right btn-add-project" ng-click="vm.createOrUpdateTeam()" >Add Team<i class="fa fa-plus" aria-hidden="true"></i></a>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
        <li>
            <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Project
        </li>
    </ul>
    <style type="text/css">
        .account-team table.tree th{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .account-team table.tree .team_names,.account-team table.tree .team_leads{
            width: 20%;
        }
        .account-team table.tree th:first-of-type{
            padding-left: 40px;
        }
        .account-team table.tree td{
            border: 0;
        }
        .account-team table.tree .team_line td{
            border-top: 1px solid #dae3ea;
        }
        .account-team table.tree tr.team_line td{
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            letter-spacing: 0.2px;
            text-align: left;
            color: #37474f;
        }
        .account-team table.tree tr.team_line td.action a{
            display: none;
        }
        .account-team table.tree tr.team_line:hover td.action a{
            display: inline-block;
        }
        .account-team table.tree tr.team_head_line {
            background-color: #fbfbfb;
        }
        .account-team table.tree tr.team_head_line td{
            font-family: Roboto;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.67;
            letter-spacing: 0.2px;
            text-align: left;
            color: #afbec6;
            text-transform: uppercase;
        }
        .account-team table.tree .team_members,
        .account-team table.tree .create_dates,
        .account-team table.tree .end_dates{
            text-align: center !important;
        }
        .account-team table.tree .team_names {
            padding-left: 40px !important;
            position: relative;
        }
        .account-team table.tree .team_names i {
            left: 10px;
            color: #0079c7;
            font-size: 18px;
        }

        .account-team table.tree .team_names i, .account-team table.tree .team_names img {
            position: absolute;
            left: 8px;
        }
    </style>
    <div class="margin-top-20">
        <div class="wrap-table-radius account-team table-responsive">
            <table class="table table-hover" dt-instance="vm.dtInstance" datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns">

            </table>

        </div>
    </div>

    <!-- END PAGE BREADCRUMB -->
</div>
