
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobTeamUserTaskLabel">Create or edit a Job Team User Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.jobTeamUserTask.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.jobTeamUserTask.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalFileName">Original File Name</label>
            <input type="text" class="form-control" name="originalFileName" id="field_originalFileName"
                    ng-model="vm.jobTeamUserTask.originalFileName"
                    required/>
            <div ng-show="editForm.originalFileName.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalFileName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalFilePath">Original File Path</label>
            <input type="text" class="form-control" name="originalFilePath" id="field_originalFilePath"
                    ng-model="vm.jobTeamUserTask.originalFilePath"
                    required/>
            <div ng-show="editForm.originalFilePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalFilePath.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.jobTeamUserTask.status" id="field_status" required>
                <option value="TODO">TODO</option>
                <option value="TOCHECK">TOCHECK</option>
                <option value="DONE">DONE</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.jobTeamUserTask.fileName"
                    required/>
            <div ng-show="editForm.fileName.$invalid">
                <p class="help-block"
                    ng-show="editForm.fileName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_filePath">File Path</label>
            <input type="text" class="form-control" name="filePath" id="field_filePath"
                    ng-model="vm.jobTeamUserTask.filePath"
                    required/>
            <div ng-show="editForm.filePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.filePath.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numberOfRework">Number Of Rework</label>
            <input type="number" class="form-control" name="numberOfRework" id="field_numberOfRework"
                    ng-model="vm.jobTeamUserTask.numberOfRework"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastCheckInTime">Last Check In Time</label>
                <div class="input-group">
                    <input id="field_lastCheckInTime" type="text" class="form-control" name="lastCheckInTime" datetime-picker="{{dateformat}}" ng-model="vm.jobTeamUserTask.lastCheckInTime" is-open="vm.datePickerOpenStatus.lastCheckInTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastCheckInTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_qcEdit">Qc Edit</label>
                <input type="checkbox" name="qcEdit" id="field_qcEdit"
                          ng-model="vm.jobTeamUserTask.qcEdit"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rework">Rework</label>
                <input type="checkbox" name="rework" id="field_rework"
                          ng-model="vm.jobTeamUserTask.rework"/>
        </div>

        <div class="form-group">
            <label for="field_jobTeamUser">Job Team User</label>
            <select class="form-control" id="field_jobTeamUser" name="jobTeamUser" ng-model="vm.jobTeamUserTask.jobTeamUserId" ng-options="jobTeamUser.id as jobTeamUser.id for jobTeamUser in vm.jobteamusers"             required>
            </select>
        </div>
        <div ng-show="editForm.jobTeamUser.$invalid">
            <p class="help-block"
                ng-show="editForm.jobTeamUser.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_assignee">Assignee</label>
            <select class="form-control" id="field_assignee" name="assignee" ng-model="vm.jobTeamUserTask.assigneeId" ng-options="user.id as user.login for user in vm.users"             required>
            </select>
        </div>
        <div ng-show="editForm.assignee.$invalid">
            <p class="help-block"
                ng-show="editForm.assignee.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_qc">Qc</label>
            <select class="form-control" id="field_qc" name="qc" ng-model="vm.jobTeamUserTask.qcId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
