<div>
    <h2>Job Team User Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="job-team-user-task.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Job Team User Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalFileName"><span>Original File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalFilePath"><span>Original File Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileName"><span>File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filePath"><span>File Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numberOfRework"><span>Number Of Rework</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastCheckInTime"><span>Last Check In Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qcEdit"><span>Qc Edit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rework"><span>Rework</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobTeamUserId"><span>Job Team User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assigneeLogin"><span>Assignee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qcLogin"><span>Qc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jobTeamUserTask in vm.jobTeamUserTasks track by jobTeamUserTask.id">
                    <td><a ui-sref="job-team-user-task-detail({id:jobTeamUserTask.id})">{{jobTeamUserTask.id}}</a></td>
                    <td>{{jobTeamUserTask.originalFileName}}</td>
                    <td>{{jobTeamUserTask.originalFilePath}}</td>
                    <td>{{jobTeamUserTask.status}}</td>
                    <td>{{jobTeamUserTask.fileName}}</td>
                    <td>{{jobTeamUserTask.filePath}}</td>
                    <td>{{jobTeamUserTask.numberOfRework}}</td>
                    <td>{{jobTeamUserTask.lastCheckInTime | date:'medium'}}</td>
                    <td>{{jobTeamUserTask.qcEdit}}</td>
                    <td>{{jobTeamUserTask.rework}}</td>
                    <td>
                        <a ui-sref="job-team-user-detail({id:jobTeamUserTask.jobTeamUserId})">{{jobTeamUserTask.jobTeamUserId}}</a>
                    </td>
                    <td>
                        {{jobTeamUserTask.assigneeLogin}}
                    </td>
                    <td>
                        {{jobTeamUserTask.qcLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="job-team-user-task-detail({id:jobTeamUserTask.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job-team-user-task.edit({id:jobTeamUserTask.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="job-team-user-task.delete({id:jobTeamUserTask.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
